<ul>
    <li>
        <a routerLink="/">Home</a>
    </li>
    <li>
        <a routerLink="/about">About</a>
    </li>
</ul>
<router-outlet></router-outlet>
<hr>
<ul>
    <p>name: {{name}}</p>
    <p>address: {{address.street}}</p>
    <p>city: {{address.city}}</p>
    <p>Hobbies</p>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ul>

<app-user *ngFor="let user of users" [nameUser] = "user"></app-user>
<form  (submit)="addUser(newUser)">
    <input type="text" #newUser>
    <button >
        Send user
    </button>
</form>
<li *ngFor="let user of users">
    {{user}} 
    <button (click)="deleteUser(user)">
        X
    </button>
</li>

<div>
    <form  (submit)="addUser(newUser)">
        <input type="text" name="name" [(ngModel)]="name1">
        <input type="text" name="age" [(ngModel)]="age1">
    </form>
    name: {{name1}}<br>
    age: {{age1}}
</div>

<hr>

